@use '../variables';

.button {
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: flex;

    &--primary {
        color: #0c1835;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}