@use 'hero';
@use 'components/buttons';
@use 'event';
@use 'variables';
@use 'components/infos.bar';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
        overflow-x: hidden;

}

.container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;

    @media (max-width: 640px) {
        max-width: 80%;
        margin: 0;
    padding: 0;
    overflow-x: hidden;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}